<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

<!-- favicon -->
<link rel="shortcut icon" type="image/x-icon" href="https://d17oy1vhnax1f7.cloudfront.net/items/1V2A1F1P2Q350n3r070Q/ffavicon.ico" />
<link rel="icon" type="image/x-icon" href="https://d17oy1vhnax1f7.cloudfront.net/items/1V2A1F1P2Q350n3r070Q/ffavicon.ico" />

<!-- RSS -->
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.baseurl }}/feed.xml" />
